<h2 class="sectionHead">{{ site.user_config.navHeading }}</h2>
<ul class="nav">
 {% for item in data["nav"] %}
  <li class="nav"><a class="nav" href="{{ baseurl }}{{ item.link }}">{{ item.name }}</a></li>
 {% endfor %}
</ul>