<h2 class="sectionHead">{{ site.user_config.socialsHeading }}</h2>
<ul class="socials">
 {% for item in data["socials"] %}
  <li class="socials"><a class="socials" href="{{ item.link }}">{{ item.name }}</a></li>
 {% endfor %}
</ul>