name: CDN CI
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: "Install WGet."
        run: sudo apt install wget -y
      #- name: "Fetch Mandy."
      #  run: curl https://github.com/alyxshang/mandy/releases/download/v.0.1.0/mandy-0.1.0-x86_64-unknown-linux-gnu
      #- name: "Run Mandy."
      #  run: chmod a+x mandy-0.1.0-x86_64-unknown-linux-gnu && ./mandy-0.1.0-x86_64-unknown-linux-gnu -v

