name: Mandy Project CI
on:
  push:
    branches: [ main ]
env:
  MANDY_ENV: production
  MANDY_VER: 0.1.0
jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          
      - name: "Install Mandy."
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: --git https://github.com/alyxshang/mandy.git --tag v.$MANDY_VER
      - name: "Build the Mandy project."
        run: mandy -c .
      - name: "Deploy"
        uses: JamesIves/github-pages-deploy-action@v4.2.5
        with:
          branch: gh-pages
          folder: dist
